.site-footer
    padding: block-60 0
    border-top: border-default
    background: basic-background

    p
        font-size: font-small

    a
        color: basic-grey
    
    .cr
        letter-spacing: 1px

    .theme
        color: basic-grey