
 
.nav-page
	padding: 30px 0
	border-bottom: border-default
	text-transform: uppercase
	font-size: font-small
	letter-spacing: 2px

	ul
		float: right
	
	li
		margin-left: block-10

	li:first-child
		margin-left: 0
	li:first-child:before
	    content: ""

	a
		color: basic-black

	a:hover
		color: color-link

.site-header-main
	height: 160px
	background: basic-background
	border-bottom: border-default

	h1
		float: left
		margin-right: block-20
		line-height: 160px
		text-transform: uppercase
		letter-spacing: 2px
		font-family: sans-serif
		font-size: 36px

		a
		    color: basic-black
		a:hover
		    color: light-black

	h1:after
	    content: " | "
	p
		line-height: 160px
		letter-spacing: 1px