basic-background = #f3f3f3
plain-background = #fafafa
basic-black = #333
light-black = #555
basic-grey = #777
light-grey = #DFDFDF
color-link = #9C7A00
color-slc = #FFFAA4

border-solid = 1px solid basic-black
border-default = 1px dashed basic-grey
border-thin = 1px dotted basic-grey
border-thiner = 1px dotted light-grey

block-60 = 60px
block-40 = 40px
block-20 = 20px
block-10 = 10px

font-small = 12px